/Calculus.class
/CalculusExamples.class
/Distance.class
/EquationSolver.class
/Function.class
/FunctionExpression.class
/GradientDescent.class
/LeastSquares.class
/Matrix.class
/Stat.class
/Util.class
/Vec.class
